body {
    color: white;
}

#login-credentials {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#divider {
    width: 10px;
    height:auto;
    display:inline-block;
}

#forgot-button {
    background-color: transparent;
    border: none;
}

#login-container {
    border: solid 1px #00FF89;
    width: 45%;
    border-radius: 12px;
    background-color: #24262D;
    padding: 30px;
}

#forgot-password-container {
    border: solid 1px #00FF89;
    width: 60%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 12px;
    background-color: #24262D;
}