#footer-container {
    color: white;
    background-color: #24262D;
}

#footer-button {
    background-color: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

a:hover {
    color: #00FF89;
}