@font-face {
  font-family: nove;
  src: url(../public/Assets/Font/Nove.ttf)
}

body {
  background-color: #15171B !important;
  color: white;
}

#font-type {
  font-family: nove;
  color: #00FF89;
}

#font-type-2 {
  font-family: nove;
  color: white;
}

#font-type:hover {
  color: white;
}

#button-color {
  background-color: #0058FF !important;
  border: none;
  font-family: nove;
}